#header {
    background-color: greenyellow;
    display: grid;
    grid-template-areas: 
    'img company-name';
}
img {
    width: 7vw;
    height: 15vh;
    margin: 1.5vw;
}
#name {
    margin-left: 40vw;
    font-size: 2.5em;
}
#tagline {
    margin-left: 44vw;
}
*{
    box-sizing: border-box;
}

@media (max-width: 700px) {
    #header {
        grid-template-areas: 
    'img'
    'company-name';
    }
    img {
        width: 20vw;
        margin-left: 40vw;
    }
    #name {
        font-size: 1.5em;
        margin-left: 23vw;
    }
    #tagline {
        display: none;
    }
}

@media (max-width: 500px) {
    #header {
        grid-template-areas: 
    'img'
    'company-name';
    }
    img {
        width: 15vw;
        height: 12vw;
        margin-left: 15vw;
    }
    #name {
        font-size: 0.5em;
        margin-left: 10vw;
    }
    #tagline {
        display: none;
    }
}
@media (max-width: 420px) {
    #header {
        grid-template-areas: 
    'img'
    'company-name';
    }
    img {
        width: 15vw;
        height: 12vw;
        margin-left: 33vw;
    }
    #name {
        font-size: 0.5em;
        margin-left: 28vw;
    }
}