<div id="about">About Us</div>
<div id="about-us">
    <p>
        We are a Delhi based pharmaceutical company established in 2004. Phoenix Pharmaceuticals has been committed to applying science and our global resources to improve health and well-being at every stage of life. Today we have grown into a leading pharmaceutical company in India with a vision to make a difference in the lives of people by providing access to safe, effective and affordable medicines and related health care services to those who need them
    </p>
</div>