<div id="trust">
    <div id="image">
        <img src="assets/trust.jpg" alt="image" width="120%">
    </div>
    <div id="detail">
        <h2>Why Peoples trusts us?</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum accusamus nam repellendus, sunt est magni! Doloremque accusantium reiciendis libero laboriosam, dolorum tenetur sequi fugiat quaerat harum neque qui rerum eligendi distinctio laborum eum ex voluptate consectetur reprehenderit magni, odit blanditiis?</p>
    </div>
</div>