<div id="contact-detail">
    <div id="contact">Contact Us</div>

    <div id="detail">
        <div id="address">
            <h2>Address:</h2>
            <p>No. 205, SGS Plaza, LSC Plot No. 4,<br> 2nd Floor, Inder Enclave, Paschim Vihar,<br> Delhi-110006, India</p>
        </div>
        <div id="call">
            <h2>Call Us:</h2>
            <p>0981134623,011-25280749/45511157</p>
        </div>
        <div id="mail">
            <h2>E-mail:</h2>
            <p>phoenixpharmaceuticals1@gmail.com</p>
        </div>
    </div>
</div>