<div id="product">Our Products</div>
<div id="products-cards">
    <div class="card" style="width: 18rem;">
        <img src="assets/medicine.jpg" class="card-img-top" routerLink='tablets' alt="...">
        <div class="card-body">
          <h5 class="card-title">Tablets</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/syrups.jpg" class="card-img-top" routerLink='syrups' alt="...">
        <div class="card-body">
          <h5 class="card-title">Syrups</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/ayurveda.jpg" class="card-img-top" routerLink='immunity-products' alt="...">
        <div class="card-body">
          <h5 class="card-title">Protein Powders</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/injection2.png" class="card-img-top" routerLink='immunity-products' alt="...">
        <div class="card-body">
          <h5 class="card-title">Injections</h5>
        </div>
      </div>
</div>