<h2>Company Profiles</h2>

<table width="100%" cellspacing="0" cellpadding="2"> <colgroup><col width="128*" /> <col width="128*" /> </colgroup>
    <tbody>
      <tr valign="top"> 
        <td style="border: 1pt solid #000000; padding: 0.02in 0.08in;" width="50%"> 
          <p><strong>Nature of Business</strong></p> 
        </td> 
        <td style="border-color: #000000 #000000 #000000 currentcolor; border-style: solid solid solid none; border-width: 1pt 1pt 1pt medium; padding: 0.02in 0.08in 0.02in 0in;" width="50%"> 
          <p>Wholesaler</p> 
        </td> 
      </tr> 
      <tr valign="top"> 
        <td style="border-color: currentcolor #000000 #000000; border-style: none solid solid; border-width: medium 1pt 1pt; padding: 0in 0.08in 0.02in;" width="50%"> 
          <p><strong>Location</strong></p> 
        </td> 
        <td style="border-color: currentcolor #000000 #000000 currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in 0.08in 0.02in 0in;" width="50%"> 
          <p>Agra, Uttar Pradesh, India</p> 
        </td> 
      </tr> 
      <tr valign="top"> 
        <td style="border-color: currentcolor #000000 #000000; border-style: none solid solid; border-width: medium 1pt 1pt; padding: 0in 0.08in 0.02in;" width="50%"> 
          <p><strong>Year of Establishment</strong></p> 
        </td> 
        <td style="border-color: currentcolor #000000 #000000 currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in 0.08in 0.02in 0in;" width="50%"> 
          <p>2004</p> 
        </td> 
      </tr>  
      <tr valign="top"> 
        <td style="border-color: currentcolor #000000 #000000; border-style: none solid solid; border-width: medium 1pt 1pt; padding: 0in 0.08in 0.02in;" width="50%"> 
          <p><strong>No. of Production Units</strong></p> 
        </td> 
        <td style="border-color: currentcolor #000000 #000000 currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in 0.08in 0.02in 0in;" width="50%"> 
          <p>03</p> 
        </td> 
      </tr> 
      <tr valign="top"> 
        <td style="border-color: currentcolor #000000 #000000; border-style: none solid solid; border-width: medium 1pt 1pt; padding: 0in 0.08in 0.02in;" width="50%"> 
          <p><strong>Company Branches</strong></p> 
        </td> 
        <td style="border-color: currentcolor #000000 #000000 currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in 0.08in 0.02in 0in;" width="50%"> 
          <p>02</p> 
        </td> 
      </tr> 
      <tr valign="top"> 
        <td style="border-color: currentcolor #000000 #000000; border-style: none solid solid; border-width: medium 1pt 1pt; padding: 0in 0.08in 0.02in;" width="50%"> 
          <p><strong>Brand Name</strong></p> 
        </td> 
        <td style="border-color: currentcolor #000000 #000000 currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in 0.08in 0.02in 0in;" width="50%"> 
          <p>Phoenix</p> 
        </td> 
      </tr>  
      <tr valign="top"> 
        <td style="border-color: currentcolor #000000 #000000; border-style: none solid solid; border-width: medium 1pt 1pt; padding: 0in 0.08in 0.02in;" width="50%"> 
          <p><strong>Import/Export Code</strong></p> 
        </td> 
        <td style="border-color: currentcolor #000000 #000000 currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in 0.08in 0.02in 0in;" width="50%"> 
          <p>0614002575</p> 
        </td> 
      </tr> 
      <tr valign="top"> 
        <td style="border-color: currentcolor #000000 #000000; border-style: none solid solid; border-width: medium 1pt 1pt; padding: 0in 0.08in 0.02in;" width="50%"> 
          <p><strong>Export Percentage</strong></p> 
        </td> 
        <td style="border-color: currentcolor #000000 #000000 currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in 0.08in 0.02in 0in;" width="50%"> 
          <p>As Per Order</p> 
        </td> 
      </tr> 
      <tr valign="top"> 
        <td style="border-color: currentcolor #000000 #000000; border-style: none solid solid; border-width: medium 1pt 1pt; padding: 0in 0.08in 0.02in;" width="50%"> 
          <p><strong>Export Market</strong></p> 
        </td> 
        <td style="border-color: currentcolor #000000 #000000 currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in 0.08in 0.02in 0in;" width="50%"> 
          <p>Worldwide</p> 
        </td> 
      </tr> 
      <tr valign="top"> 
        <td style="border-color: currentcolor #000000 #000000; border-style: none solid solid; border-width: medium 1pt 1pt; padding: 0in 0.08in 0.02in;" width="50%"> 
          <p><strong>Ownership Type</strong></p> 
        </td> 
        <td style="border-color: currentcolor #000000 #000000 currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in 0.08in 0.02in 0in;" width="50%"> 
          <p>Proprietorship Firm</p> 
        </td> 
      </tr> 
      <tr valign="top"> 
        <td style="border-color: currentcolor #000000 #000000; border-style: none solid solid; border-width: medium 1pt 1pt; padding: 0in 0.08in 0.02in;" width="50%"> 
          <p><strong>Original Equipment Manufacturer</strong></p> 
        </td> 
        <td style="border-color: currentcolor #000000 #000000 currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in 0.08in 0.02in 0in;" width="50%"> 
          <p>Yes</p> 
        </td> 
      </tr> 
      <tr valign="top"> 
        <td style="border-color: currentcolor #000000 #000000; border-style: none solid solid; border-width: medium 1pt 1pt; padding: 0in 0.08in 0.02in;" width="50%"> 
          <p><strong>Monthly Production Capacity</strong></p> 
        </td> 
        <td style="border-color: currentcolor #000000 #000000 currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in 0.08in 0.02in 0in;" width="50%"> 
          <p>Unlimited 
          </p> 
        </td> 
      </tr> 
      <tr valign="top"> 
        <td style="border-color: currentcolor #000000 #000000; border-style: none solid solid; border-width: medium 1pt 1pt; padding: 0in 0.08in 0.02in;" width="50%"> 
          <p><strong>GST No.</strong></p> 
        </td> 
        <td style="border-color: currentcolor #000000 #000000 currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in 0.08in 0.02in 0in;" width="50%"> 
          <p>07ABGPT5697M1ZO</p> 
        </td> 
      </tr> 
      <tr valign="top"> 
        <td style="border-color: currentcolor #000000 #000000; border-style: none solid solid; border-width: medium 1pt 1pt; padding: 0in 0.08in 0.02in;" width="50%"> 
          <p><strong>Annual Turnover</strong></p> 
        </td> 
        <td style="border-color: currentcolor #000000 #000000 currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in 0.08in 0.02in 0in;" width="50%"> 
          <p>500 Crore</p> 
        </td> 
      </tr> 
    </tbody>
  </table>